.footer-copyrgt{
	width:100%;
	margin:0 auto;
    background-color: azure;
	
    text-align: center;
    padding-top: 30px;
    color: #012970;
	
}
.footer-copyrgt span{
	color:#012970;;
}
.footer-copyrgt p{
	margin-left:40px;
}
footer{
	width:100%;
	padding:50px 0px;
	text-align:center;
	
}