*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
.navbut a{
	text-decoration:none;
	padding:10px;
	float:right;
	color:#000;
	transition:all 0.5s linear;
}
.navbut nav{
	display:flex;
}
.navbut{
	display:flex;
}
.header-name a{
		color: #4154f1;
		text-decoration: none;
}
/*.header-container{
	width:100%;
	top:0;
	background-color:white;
	left:0;
}*/
.header-name{
	width:80%;
	margin:0 auto;
	display:flex;
	height:auto;
	justify-content:space-evenly;
	padding:20px 0px;
	
}
.header-name h1 span{
	color:#5810e9;
}
	
.header-name button{
	padding:10px 30px;
	background-color:#5810e9;
	border-radius:20px;
	color:white;
	border:none;
}
@media (min-width:320px){
	.header-name{
		display:flex;
		justify-content:space-between;
	}
	.navbut{
		display:none;
	}
	.bar-icon{
		display:flex;
	
	}
}
@media (min-width:800px){
	.header-name{
		display:flex;
		justify-content:space-between;
	}
	
	
	.bar-icon{
		display:flex;
	
	}
}
@media (min-width:1020px){
	.header-name {
		display:flex;
		justify-content:space-around;
	}
	.navbut{
		display:flex;
	}
	.bar-icon{
		display:none;
		
	}
	.head-logo{
		display:none;
	}
}